html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgb(83, 164, 201), rgb(218, 161, 109), rgb(212, 118, 118));
}

body {
    width: auto;
    height: 100%;
    margin: 0;
    background-image: url(neige.gif);
}
.accueil {
    z-index: 1;
    position: absolute;
    background: linear-gradient(rgb(83, 164, 201), rgb(218, 161, 109), rgb(212, 118, 118));
    width: 100%;
    height: 100%;
}

.titre {
    height: 10px;
    width: 100%;
    font-size: 80px;
    color: white;
    animation: titre 6s ease-in-out infinite;
}

@keyframes titre {
    0% {
        font-size: 80px;
    }
    50% {
        font-size: 120px;
    }
    100% {
        font-size: 80px;
    }
}

.reste {
    z-index: 2;
    height: 85%;
}

header {
    display: flex;
    width: auto;
    height: 30%;
    justify-content: center;
    overflow: hidden;
}

h1 {
    color: white;
    height: 10%;
    font-size: 60px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    position: relative;
    right: 210%;
    animation: slide 5s ease-in-out infinite;
    margin: 0;
}

@keyframes slide {
    0% {
        right: 280%;
        font-size: 60px
    }
    50% {
        right: 0%;
        font-size: 120px;
    }
    100% {
        right: -310%;
        font-size: 50px;
    }
}

.interact {
    display: inline-block;
    width: 100%;
    height: 70%;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-top: 10%;
}

.player1 {
    display: inline-block;
    text-align: center;
    margin: 50px;
}

.player2  {
    display: inline-block;
    text-align: center;
    margin: 50px;
}

input {
    border-radius: 10px 10px 10px 10px;
    font-size: 100%;
    background-color: rgb(231, 227, 223);
    box-shadow: inset 8px 7px 9px #494747;
    border-style: none;
    text-align: center;
    font-weight: 800;
}

.jeu {
    margin-top: 20px;
}

.a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(83, 164, 201);
    display: inline-block;
    box-shadow: 8px 7px 9px #494747;
    border-style: none;
    border-radius: 10px;
}

.game-rules {
    margin-top: 40px;
    cursor: pointer;
    font-weight: 800;
    animation: balance 2s linear infinite;
}

.game-rules2 {
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid white;
    border-radius: 40%;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}

@keyframes balance {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.rules {
    display: none;
    font-size: 20px;
    font-weight: 100;
    margin-top: 15px;
}

.rules2 {
    display: none;
    font-size: 15px;
    font-weight: 100;
    margin-top: 15px;
}


label1 {
    display: inline;
    position: absolute;
    right: 75%;
    top: 50%;
    color: rgb(192, 9, 9);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

label2 {
    display: inline;
    position: absolute;
    left: 70%;
    top: 50%;
    color: rgb(214, 218, 28);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

span {
    color: rgb(63, 128, 156);
}

#new {
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid white;
    border-radius: 40%;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}

.clear {
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid white;
    border-radius: 40%;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}

#grid {
    width: 35%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#carré {
    width: 70px;
    height: 50px;
    background-color: black;
    border: 10px solid black;
    display: flex;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;
    opacity: 0.2;
}

.select {
    border: 2px solid gray;
    position: absolute;
    left: 79%;
    top: 45%;
    width: 20%;
    height: auto;
}

.TOP, .BOTTOM, .LEFT, .RIGHT {
    display: inline-block;
    border: 1px solid grey;
    width: 40%;
    height: auto;
    margin: 11px;
    background-color: grey;
    opacity: 0.9;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
